.navbar
    z-index: 1
    &-nav
        font-weight: 400
    &-brand
        display: flex
        justify-content: center
        align-items: center
        transition: all 0.4s ease-in-out
        &:hover
            text-shadow: 0 0 10px #ffffff63
        img
            height: 35px
            margin-right: 10px
.form-select
    padding-right: 30px